<html>
    <head>
        <script>
        </script>
        <title> USER VERIFICATION EMAIL TEMPLATE </title>
    </head>
    <body>
        <div>
               <h3 style="color:#ff0011">Welcome! Thanks for registering with us </h3>
               <img src width="75" height="100">      
                <p> Hello there! Pls verify your email id </p>
                <div>
                    <h4>please click the link</h4>
                   <button style="color:rgb(4, 75, 189)"><a href=http://localhost:8000/api/users/verify-mail>>clik here to verify</a></button> 
                </div>
        </div>
    </body>
</html>